# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
.catkin_tools
build/
devel/
logs/

# Cache
*__pycache__*
*.git*

# Unity Simulation (Added to save spaces)
src/rpg_flightmare/flightrender/flightmare_Data/
src/rpg_flightmare/flightrender/flightmare.x86_64
src/rpg_flightmare/flightrender/LinuxPlayer_s.debug
src/rpg_flightmare/flightrender/UnityPlayer_s.debug
src/rpg_flightmare/flightrender/UnityPlayer.so

# save files
src/agile_autonomy/data_generation/data
src/agile_autonomy/planner_learning/data
src/agile_autonomy/planner_learning/~
